.banner-fallback .faixa-covid{
    width: 100%;
	padding: 0px 0px 0px !important;
	margin-top: 40px;	
}
.register-covid{
	margin-bottom: 82px;
    background-color: #4d92e3;
    padding: 0px;
    margin-top: -100px;
}
.texto-covid-produtor{
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.43;
	letter-spacing: normal;
	text-align: left;
	color: #606060;
}
.panel-covid-cabecalho{
	height: 45px;
}
.img-covid a {
    display: inline-block;
    position: relative;
}
.img-covid{
    overflow: inherit;
}
.img-covid a:hover img {
    display: inherit;
    z-index: 1;
}
.img-covid .card-covid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 100px;
}
.label-covid{
    color: #0e2e5c;
    line-height: 1;
}
.label-hashtag-covid{
    font-weight: 100;
	line-height: 1;
	font-size: 18px;
}
.label-hashtag-covid-produtor{
	font-size:18px;
	line-height: 24px;
}
.label-covid-produtor{
	color: #0e2e5c;
	font-size:18px;
}
.texto-titulo-produtor{
	size:14px;
	line-height: 24px;
}
.div-hashtag-covid{
    display: flex;
    align-items: flex-end;
}
.faixa-covid .label-covid{
	color: #0e2e5c;
	line-height: 1;
  }
  .faixa-covid .label-hashtag-covid{
	font-weight: 100;
	line-height: 1;
  }
 .faixa-covid .div-hashtag-covid{
	display: flex;
	align-items: baseline;

  }
  .faixa-covid{
	padding-top: 25px !important;
	padding-bottom: 10px !important;
	margin-bottom: 25px;

  }
  .faixa-covid .painel-heading{
	height:50px !important;
	
  }
  .img-hash{
	height: 46px;
    width: 22px;
  }
  
  .faixa-covid .panel-primary{
	
	border-color: #4a90e2!important;
	background-color: #4a90e2!important;
  }
  .faixa-covid .painel-covid-base{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-color: #4a90e2 !important;
	background-color: #4a90e2 !important;
  }
  .faixa-covid button{
	  width: 100%;
	  max-width: 140px;
	  height: 34px;
	color: #4a90e2;
	font-size:14px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
  }
  .faixa-covid button:hover label{
	color: #4a90e2;
  }
  .faixa-covid img{
	vertical-align: bottom;
  }

  .faixa-covid .label-covid-faixa{
	font-weight: normal;
	font-size: 14px;
  }

  .label-covid-faixa.margin-bottom-none.faixa-saiba-mais {
	font-size: 12px;
  }

  .label-hashtag-covid-produtor.margin-bottom-none.faixa-hashtag {
	font-size: 16px;
  }

  .ponto-covid{
	  vertical-align: middle;
	  font-size: 50%;
  }
  .label-covid-afiliado{
	  font-size: 14px;
  }
  .truck-covid{
	  font-size: 250%!important;
  }
  .img-covid-custom{
	  vertical-align: middle!important;
	  padding-top: 0px!important;
	  /* padding-bottom:5px!important; */
  }
  .text-truck-covid{
	display: inline-block;
  }
  .label-saiba-mais-covid{
	width: 64px;
	height: 17px;
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 20px;
	letter-spacing: normal;
	text-align: center;
	color: #4a90e2;
	
  }
  .tooltip-arrow, .white-tooltip + .tooltip > .tooltip-inner {
	  background-color: #ffffff;
	  opacity: unset;
	  
}
	
.tooltip.in{
	top:40px;
	left:178.9px;
	background-color: #ffffff;
	opacity:1!important;
}
@media (max-width: 768px){
	.panel-covid-produtor{
		margin-bottom: 10px;
	}
	.faixa-covid .painel-covid-base{
		flex-direction: column;
		align-items: flex-start;
	}
	.label-hashtag-covid-produtor{
		font-size: 16px;
	}
	.faixa-covid .botao-saiba-mais{
		margin-top: 10px;
	}
	.faixa-covid .label-covid-faixa{
		font-weight: normal;
		font-size: 12px;
	  }
	  .label-covid-afiliado{
		  font-size: 12px;
		  min-height: 35px;
	  }
}
@media (min-width: 768px){
	.div-text-truck{
		padding-left: 0px;
	}
}

.altura_centralizada {
	line-height: 30px;
}

/*top-banner-covid*/
/*==================================================*/
.top-banner-covid {
    position: relative;
	background-color: #4a90e2;
	border-radius: 4px;
    padding: 12px 10px;
    z-index: 50
}

.faixa-covid--product + .container {
	padding-top: 17px !important;
}

.top-banner-covid * {
    font-family: "Open Sans",sans-serif
}

.top-banner-covid__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto
}

@media (max-width: 1050px) {
    .top-banner-covid__inner {
        flex-direction:column
    }
}

.top-banner-covid__col2 {
    display: flex;
    align-items: center
}

@media (max-width: 1250px) {
    .top-banner-covid__col2 {
        flex-direction:column;
        align-items: flex-end
    }
}

@media (max-width: 1050px) {
    .top-banner-covid__col2 {
        align-items:center
    }
}

.top-banner-covid__title {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 400;
	color: #fff;
	margin: 0;
}

.top-banner-covid__title--strong {
    font-size: 25px;
    font-weight: 400;
    text-shadow: 1px 2px #0e2e5c;
    vertical-align: sub
}

.top-banner-covid__title strong {
    font-weight: 700
}

.top-banner-covid__subtitle {
    font-size: 13px;
    line-height: 1.36;
    font-weight: 400;
    color: #fff;
    margin: 10px 18px
}

.top-banner-covid__subtitle--strong {
    font-weight: 700;
    color: #0e2e5c
}

.top-banner-covid__button {
    width: 140px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #fff;
    font-size: 12px;
    line-height: 1.67;
    font-weight: 700;
    color: #4a90e2
}

.box-campanha-covid {
	background-color: #4d92e3;
	border-color: #4a90e2;
}

.box-hashtag {
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 4px;
}

.box-text {
	color: #0e2e5c;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 8px;
}

.botao-saiba-mais-box {
	background-color: #4d92e3;
	color: #ffffff;
	width: 75%;
	height: 30px; 
	padding: 3px;
	font-weight: none;
}

.box-hashtag-topo {
	margin-left: 75%;
	margin-top: 9px;
	margin-bottom: 7px;
	background-color: #4d92e3;
	border-color: #4a90e2;
	color: #ffffff;
	width: 220px;
	padding: 3px;
	height: 32px;
}

.box-hashtag-mobile {
	background-color: #4d92e3;
	border-color: #4a90e2;
	color: #ffffff;
	width: 100%;
	height: 32px;
	padding: 3px;
	margin: 0 auto;
	margin-bottom: 10px;
}

@media (min-width: 769px){
	.box-hashtag-mobile {
		display: none;
	}
}